<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main>
    <div class="l-container">
        <section class="c-breadcrumb">
            <nav>
                <ul><li>HOME</li></ul>
            </nav>
        </section>
        <section class="c-slider">
            <img class="c-slider__banner" src="../assets/img/slider2.jpg" alt="">
            <img class="c-slider__banner" src="../assets//img/bg_banner.png" alt="">
            <div class="c-slider__info">
                <span>Category1</span>
                <p>Title title title  title  title  title  title title  title title  title  title  title  </p>
            </div>
        </section>
        <section class="c-news">
            <div class="c-news__title c-news__space">
                <img src="../assets//img/title_news.png" alt="">
            </div>
            <div class="c-news__list">
                <div class="c-news__item">
                    <div class="c-news__item__img">
                        <img src="../assets//img/img_news.png" alt="">
                        <span class="c-news--blue">Category 2</span>
                    </div>
                    <div class="c-news__item__info">
                        <h5 class="c-news__item__title">Title title title title title title title title</h5>
                        <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
                    </div>
                    <button class="c-news__item__link">Link1</button>
                </div>
                <div class="c-news__item">
                    <div class="c-news__item__img">
                        <img src="../assets//img/img_news.png" alt="">
                        <span class="c-news--yellow">Category 1</span>
                    </div>
                    <div class="c-news__item__info">
                        <h5 class="c-news__item__title">Title title title title title title title title</h5>
                        <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
                    </div>
                    <button class="c-news__item__link">Link2</button>
                </div>
                <div class="c-news__item">
                    <div class="c-news__item__img">
                        <img src="../assets//img/img_news.png" alt="">
                        <span class="c-news--orange">Category 3</span>
                    </div>
                    <div class="c-news__item__info">
                        <h5 class="c-news__item__title">Title title title title title title title title</h5>
                        <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
                    </div>
                    <button class="c-news__item__link">Link3</button>
                </div>
                <div class="c-news__item">
                    <div class="c-news__item__img">
                        <img src="../assets//img/img_news.png" alt="">
                        <span class="c-news--blue">Category 2</span>
                    </div>
                    <div class="c-news__item__info">
                        <h5 class="c-news__item__title">Title title title title title title title title</h5>
                        <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text... </p>
                    </div>
                    <button class="c-news__item__link">Link4</button>
                </div>
            </div>
            <div class="c-news__viewmore">
                <img src="../assets/img/view_more_new.png" alt="">
            </div>
        </section>
    </div>
    <section class="c-feature">
        <div class="l-container">
            <div class="c-feature__title">
                <img src="../assets/img/title_fearture.png" alt="">
            </div>
            <div class="c-feature__list">
                <div class="c-feature__item">
                    <div class="c-feature__item__img">
                        <img src="../assets/img/img_feature.png" alt="">
                    </div>
                    <div class="c-feature__item__info">
                        <span>Text text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-feature__item">
                    <div class="c-feature__item__img">
                        <img src="../assets/img/img_feature.png" alt="">
                    </div>
                    <div class="c-feature__item__info">
                        <span>Text text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-feature__item">
                    <div class="c-feature__item__img">
                        <img src="../assets/img/img_feature.png" alt="">
                    </div>
                    <div class="c-feature__item__info">
                        <span class="c-feature--orange">Text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-feature__item">
                    <div class="c-feature__item__img">
                        <img src="../assets/img/img_feature.png" alt="">
                    </div>
                    <div class="c-feature__item__info">
                        <span>Text text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-feature__item">
                    <div class="c-feature__item__img">
                        <img src="../assets/img/img_feature.png" alt="">
                    </div>
                    <div class="c-feature__item__info">
                        <span class="c-feature--yellow">Text text text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-feature__item">
                    <div class="c-feature__item__img">
                        <img src="../assets/img/img_feature.png" alt="">
                    </div>
                    <div class="c-feature__item__info">
                        <span>Text text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
            </div>
            <div class="c-feature__viewmore">
                <img src="../assets/img/img_view_feature.png" alt="">
            </div>
        </div>
    </section>
    <div class="l-container">
        <section class="c-blog">
            <div class="c-blog__title">
                <img src="../assets/img/title_blog.png" alt="">
            </div>
            <div class="c-blog__list">
                <div class="c-blog__item">
                    <div class="c-blog__item__img">
                        <img src="../assets/img/img_blog.png" alt="">
                    </div>
                    <div class="c-blog__item__info">
                        <span>Text text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-blog__item">
                    <div class="c-blog__item__img">
                        <img src="../assets/img/img_blog.png" alt="">
                    </div>
                    <div class="c-blog__item__info">
                        <span class="c-blog--orange">Text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-blog__item">
                    <div class="c-blog__item__img">
                        <img src="../assets/img/img_blog.png" alt="">
                    </div>
                    <div class="c-blog__item__info">
                        <span>Text text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
                <div class="c-blog__item">
                    <div class="c-blog__item__img">
                        <img src="../assets/img/img_blog.png" alt="">
                    </div>
                    <div class="c-blog__item__info">
                        <span class="c-blog--orange">Text</span>
                        <p>Title title title title title title title title title title title title title title title title title title title title title title title title title title title title</p>
                    </div>
                </div>
            </div>
            <div class="c-blog__viewmore">
                <img src="../assets/img/view_blog.png" alt="">
            </div>
        </section>
    </div>
    <div class="c-breadcrumb2">
        <div class="l-container">
            <section class="c-breadcrumb">
                <nav>
                    <ul><li>HOME</li></ul>
                </nav>
            </section>
        </div>
    </div>
    
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>