//baseWidth
$baseWidth:1000px;

$mainFonts : "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

$colorButtonBlue: #a3d39c;
$colorButtonOrange: #ffdfdf;
$colorButtonYellow: #fff799;
//color common
